[client]
user=root
password=admin

[mysqld]
bind-address = 127.0.0.1 # Only allow connections from localhost
mysql-native-password=ON

# [mysql]
# max_allowed_packet = 1024M
#
# [mysqld]
# wait_timeout = 120
# max_allowed_packet = 1024M
#
# secure-file-priv = "/home/piedade/Downloads"
#
# Disable ONLY_FULL_GROUP_BY
# MYSQL 5.7 - sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
# sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
