* {
    font-family:
        'MesloLGS Nerd Font Mono',
        'Fira Code',
        JetbrainsMono Nerd Font;
    font-size: 1rem;
    min-height: 0;
    /* padding: 0;
  margin: 0; */
}

#waybar {
    background: #111111;
}

/* BUTTON */

#workspaces button,
#custom-power,
#custom-lock,
#clock,
#pulseaudio {
    margin: 0.25rem 0;
    padding: 0.125rem 0.25rem;

    background: transparent;
    border-radius: 0.4rem;
    border: none;
}

#workspaces button:hover,
#custom-power:hover,
#custom-lock:hover,
#clock:hover,
#pulseaudio:hover {
    transition: background ease 150ms;
    background: #1e1e1e;
}

/* left */

#workspaces {
    margin-left: 0.25rem;
}

#workspaces button {
    padding-right: 0.5rem;

    color: #444444;
}

#workspaces button.active {
    color: #ffffff;
}

/* center */

/* right */
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#custom-lock,
#custom-power {
    margin-right: 0.25rem;
}

#custom-power > * {
    padding-left: 41rem;
    padding-right: 41rem;
}

#custom-lock {
    padding-right: 0.65rem;
}

/*
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 0;
} */

/* #battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
} */

#custom-music {
    color: #ca9ee6;
    border-radius: 5px;
}

/* #custom-docker {
  color: #85c1dc;
}

#custom-lock {
  color: #babbf1;
}
   */

#custom-power {
    /* margin-right: 1rem; */
    /* border-radius: 0px 5px 5px 0px; */
    padding: 0;
    color: #e78284;
}

/* #custom-docker.docker {
  color: #85c1dc;
}

#custom-docker.docker-none {
  color: #737994;
}

#custom-docker.docker-error {
  color: #e78284;
} */

#custom-weather.clear {
    color: #e5c890; /* Sunny yellow */
}

#custom-weather.cloud {
    color: #99d1db; /* Light blue */
}

#custom-weather.rain {
    color: #8caaee; /* Blue */
}

#custom-weather.snow {
    color: #c6d0f5; /* White-ish */
}

#custom-weather.thunder {
    color: #ca9ee6; /* Purple */
}

#custom-weather.fog {
    color: #b0b4bc; /* Gray */
}

#custom-weather.error {
    color: #e78284; /* Red */
}
