* {
    font-family: 'MesloLGS Nerd Font Mono', 'Fira Code', monospace;
    color: #d0d7de;
}

window {
    background-color: #000000;
}

#clock-label {
    font-size: 10rem;
    color: #d0d7de;
    margin-bottom: 4px;
}

#date-label {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 32px;
}

#input-label {
    opacity: 0;
    font-size: 0;
}

entry {
    background-color: #1e1e1e;
    border: 1px solid #4e5b55;
    border-radius: 1rem;
    color: #d0d7de;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

entry:focus {
    border-color: #ffffff;
}

#error-label {
    color: #e31523;
    font-size: 1rem;
    margin-top: 6px;
}

button,
button.suggested-action {
    background-color: #1e1e1e;
    background-image: none;
    border: 1px solid #4e5b55;
    border-radius: 4px;
    color: #d0d7de;
    padding: 6px 16px;
    margin-top: 8px;
    box-shadow: none;
    /* hide */
    opacity: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
    min-height: 0;
    border: none;
}

button:hover,
button.suggested-action:hover {
    background-color: #1e1e1e;
    border-color: #ffffff;
}
